html, body{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}



body{
    background-color: $background;
}

.main__heading{
    color:$text;
    text-align: center;
    font-size: 4rem;
}

.puzzle__area{
    background: lighten($background, 15%);
    max-width: 1250px;
    min-height:1320px;
    margin: 0 auto;
    border-radius: $border-radius;
    padding: 30px;
    position: relative;
   &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    transform: rotate(3deg);
    background: url('../assets/slovakia.png')center center no-repeat;
    background-size: contain;
  
}
}

#bratislava-drop{
    
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1%;
    top: 52%;
}

#trnava-drop{
   
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 160px;
    left: 10%;
    top: 50%;
}

#trencin-drop{
   
    display: inline-block;
    position: absolute;
    width: 110px;
    height: 110px;
    left: 20%;
    top: 42%;
}

#nitra-drop{
    
    display: inline-block;
    position: absolute;
    width: 110px;
    height: 110px;
    left: 18%;
    top: 55%;
}

#banska-drop{
    
    display: inline-block;
    position: absolute;
    width: 130px;
    height: 130px;
    left: 38%;
    top: 50%;
}

#zilina-drop{
   
    display: inline-block;
    position: absolute;
    width: 130px;
    height: 130px;
    left: 36%;
    top: 30%;
}

#presov-drop{

    display: inline-block;
    position: absolute;
    width: 230px;
    height: 100px;
    left: 66%;
    top: 35%;
}

#kosice-drop{
  
    display: inline-block;
    position: absolute;
    width: 230px;
    height: 100px;
    left: 66%;
    top: 48%;
}
