html, body{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}



body{
    background-color: $background;
}

.main__heading{
    color:$text;
    text-align: center;
    font-size: 4rem;
}

.puzzle__area{
    background:lighten($background, 15%);
    max-width: calc(100% - 60px);
    min-height:600px;
    margin: 0 auto;
    border-radius: $border-radius;
    padding: 30px;
    position: relative;
   
  
}